.footer {
    background-color: var(--background-color);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -3px 6px var(--shadow-color);
    margin-top: auto;

    .footer-content {
        .footer-links {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            .footer-link {
                margin: 0 15px;
                color: var(--text-light);
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-size: 0.9rem;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        .footer-copyright {
            color: var(--text-color);
            font-size: 0.8rem;
            font-family: 'Lato', sans-serif;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .footer-content {
            .footer-links {
                flex-direction: column;

                .footer-link {
                    margin: 5px 0;
                }
            }
        }
    }
}
